

 @import url('https://fonts.cdnfonts.com/css/h-hamba');
 @import url('https://fonts.cdnfonts.com/css/journey-unicorn');
                

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'h Hamba', sans-serif;
                                                
    
}

.container{
    
    width: 100%;
    height: auto;
    background-color: rgb(126, 140, 182);
    background-image: radial-gradient(circle, rgba(99, 109, 119, 0.534) 0%, rgba(34, 60, 145, 0.568) 71%), url(assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
   
    
    
    
 
  
}

.cards{

    width: 90%;
    height: 800px;
    display:flex;
    position: relative;   
    flex-wrap: wrap;       
    align-content: center;  
    justify-content: center;
    
     

}

img{
    width: 200px;
    height: 200px;    
    border-radius: 30px;      
    margin:10px;
    border: 1px rgba(132, 138, 229, 0.664);
    box-shadow: 100px 50px 48px -3px  rgba(160, 165, 240, 0.664);
  

}  

li{
    list-style: none;
    
}



.cards_img1{    
    
    transform:rotate(10deg);  
    margin-bottom: 15px;   
 
}

.cards_img2{
   box-shadow: -100px 50px 48px -3px  rgba(132, 138, 229, 0.664);
   transform:rotate(-10deg);
   margin-bottom: 15px;   
    
   
}

.cards_img3{
    
    transform:rotate(10deg);
    margin-bottom: 80px;   
   
}

 
h1{
        position: absolute;
        bottom: 375px;
        left:10px;        
        transform:rotate(90deg);
        font-size: 100px;
        color:#fff;
            
        
    }
h2{
    position:absolute;
    top: 60px;
    right:-206px;    
    transform:rotate(90deg);
    -webkit-text-fill-color: rgba(137, 144, 233, 0.432);
}
 p{
        font-family: 'Journey Unicorn', sans-serif;
        font-size: 22px;         
        position: absolute;
        color: #fff;
            
        
    }

    .p_1{
          
       right: 10px;
       top:130px;
    }

    .p_2{
          
       right: 10px;
       top:350px;
    }

    .p_3{
     
       right: 10px;
       bottom:170px;
    }

.cards2{
   
  background-color: rgb(126, 140, 182);
  width: 100%;
  height: auto;
}